ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    background-image: url(src\assets\bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ul li a{
    height: 20rem;
    width: 19rem;
    border: 2px solid rgb(227, 226, 226);
    margin: 0 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10px;
    color: black;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.content{
    padding: .5rem 1rem;
    position: relative;
}
.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1rem;
}
.favorite.not{
    color: red;
}
.product-items-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.origins{
    margin-top: 0.3rem;
}
.origins span{
    border-radius:  2rem;
    background-color: whitesmoke;
    color: gray;
    font-size: .8rem;
    margin-right: .3rem;
    display: inline-block;
}
.cook-time{
    font-size: .8rem;
    flex: 3;
    text-align: right;
}
.price{
    color: gray;
    margin-top: .2rem;
    margin-top: 0.3rem;
}
.name{
    font-family: "Radio Canada Big", sans-serif;
}